ion-header {
  --background: #F8F9FB;

  ion-toolbar {
    --background: #F8F9FB;
  }
}

ion-content {
  --background: #F8F9FB;
}

.container {
  padding: 0px 16px 32px;
  margin: auto;
  max-width: 1024px;
}

.title_category {
  margin-block: 0 12px;
  font-size: 24px;
  line-height: 29px;
  color: var(--dark-text);
  font-family: 'bold';
}


.profile-img {
  // display: flex;
  // justify-content: center;
  // flex-direction: column;
  // align-items: center;
  // margin-top: 16px;
  display: inline-block;
  position: relative;

  .pic {
    background: #EBECED;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  .edit {
    position: absolute;
    left: -5px;
    bottom: -5px;
    border-radius: 50%;
    background: #fff;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    padding: 4px;
  }
}

form {
  margin-top: 32px;

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  ion-list {
    background: transparent;
    --background: transparent;

  }

  .item_box {
    margin-bottom: 24px;

    .name {
      // display: flex;
      // justify-content: flex-start;
      // align-items: center;
      // gap: 8px;
      margin-bottom: 12px;

      img {
        width: 24px;
        height: 24px;
      }

      p {
        font-size: 14px;
        color: var(--dark-text);
        line-height: 26px;
        font-family: "bold";
      }
    }

    ion-item {
      height: 48px;
      --inner-padding-end: 4px;
      border-radius: 8px;
      --border-radius: 8px;
      border: 1px solid #87899E;

      ion-input {
        color: var(--dark-text);
        font-family: "regular";

        &::-webkit-input-placeholder {
          font-family: "regular";
          font-size: 14px;
        }
      }

      ion-button {
        height: 40px;
        width: 40px;
        border-radius: 8px;
        --padding-start: 0;
        --padding-end: 0;
        background: rgba(112, 112, 112, .15);
        margin-bottom: 8px;

        ion-icon {
          width: 24px;
          height: 24px;
          color: rgb(94, 98, 97);
        }
      }
    }
  }

  .submit {
    margin-top: 32px;
    height: 50px;
    border-radius: 8px;
    --border-radius: 8px;
    font-family: "bold";
    font-size: 14px;
    line-height: 26px;
    color: #fff;
  }
}

.phone {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  line-height: 36px;

  img {
    margin-inline: 8px;
  }

}

ion-footer {
  padding: 16px;

  ion-button {
    font-family: 'bold';
  }
}
