* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.container {
  padding: 16px 24px 32px;
  margin: auto;
  max-width: 768px;
  height: 100%;
  // background-image: url('../../../assets/images/loginimg.png');
  background-size: cover;

}

.header_box {
  margin-top: 26px;

  h1 {
    color: var(--dark-text);
    font-size: 32px;
    font-family: 'bold';
    margin-block: 24px;
  }

  .backBtn {
    // position: absolute;
    // right: 0;
    // top: 0px;
    border: 1px solid;
    --border-radius: 50%;
    border-radius: 50%;
    --padding-end: 0;
    --padding-start: 0;
    height: 40px;
    width: 40px;
  }
}

// .content {
//   width: 100%;
//   margin: auto;
//   text-align: center;
//   padding-top: 20%;

//   img.logo {
//     display: block;
//     margin: auto;
//     background-color: rgba(255, 255, 255, .35);
//     border-radius: 10px;
//     width: 80px;
//     height: 80px;
//   }

//   h2 {
//     font-size: 24px;
//     font-family: 'bold';
//     line-height: 29px;
//     margin-block: 16px 26px;
//     color: var(--ion-color-primary);
//   }

//   h5 {
//     font-size: 24px;
//     line-height: 34px;
//     color: var(--dark-text);
//     font-family: 'bold';
//     margin-bottom: 0;
//   }

// }

.item_box {

  ion-item {
    border: 1px solid #87899E;
    border-radius: 28px;
    margin-bottom: 16px;

    ion-label {
      width: 20%;
    }
  }
}

ion-button.submit {
  margin-top: 24px;
  border-radius: 28px;
  --border-radius: 28px;
  height: 56px;
  color: #fff;
  font-family: 'bold';
  font-size: 17px;
  background: var(--ion-color-primary);
}

.userTypes {
  display: flex;
  justify-content: space-evenly;
  margin-block: 36px;


  .selectionBox {
    padding: 12px 16px;
    border: 1px solid #87899E;
    border-radius: 32px;
    width: 45%;
    text-align: center;
    font-family: 'bold';
    color: #87899E;
  }

  .active {
    border: 1px solid var(--ion-color-primary) !important;
    color: var(--ion-color-primary) !important;
    background: #2a6fdb26;
  }
}

form {
  p.item_title {
    margin-block: 12px;
    font-family: 'bold';
    color: var(--light-text);
  }

}
