<ion-header mode="md">
  <ion-toolbar>
    <ion-button slot="start" fill="clear" (click)="back()">
      <img src="../../assets/images/back.svg">
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.8" pullMin="60" pullMax="120">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="container">
    <h1 class="title_category animate__animated animate__fadeInUp duration">
      {{'متناسب مع رغباتك'}}


      <!-- <ion-chip (click)="presentPopover($event)" color="primary" mode="ios" outline="true">
        <ion-label>ترتيب</ion-label>
      </ion-chip> -->
    </h1>
    <!-- <p class="sub_title animate__animated animate__fadeInUp duration">456 شقة مختلفة</p> -->
    <div *ngFor="let build of building;let i = index;trackBy:trackFu"
      class="add_box_item animate__animated animate__fadeInUp duration" (click)="details(build)">
      <div class="head_box">
        <span *ngIf="build.adType?._id !='63b978f98aca1c524a92466e'"
          style="top: 30px; background: var(--ion-color-primary);">{{build?.adType?.name}}</span>
        <span>{{build?.adGender?.name}}</span>
        <div *ngIf="build.adStatus?._id=='63cfad757fbccb084be60734'" class="stoped">
          <p>تم البيع</p>
        </div>
        <div *ngIf="build.adStatus?._id=='63cfad827fbccb084be60737'" class="stoped">
          <p>موقف مؤقتاً</p>
        </div>
        <img [defaultImage]="'../../../assets/images/buildplaceholder.png'" [lazyLoad]="build?.images[0]" alt="">
      </div>
      <div class="body_content">
        <div class="body_head">
          <p>
            <ion-icon slot="start" name="location"></ion-icon>
            {{build?.address}}
          </p>
          <p>{{build?.createdAt| date}}</p>
        </div>
        <div class="center_content">
          <p class="body_title">
            {{build?.title}}
          </p>
          <div class="price">
            {{build?.price |number}} $
          </div>
        </div>
        <div class="footer_content">
          <p *ngIf="build?.area">
            <img src="../../assets/images/size.svg" alt="">
            {{build?.area}}م
          </p>
          <p *ngIf="build?.interface">
            الواجهه
            {{build?.interface}}م
          </p>
          <p *ngIf="build?.depth">
            النزال
            {{build?.depth}}م
          </p>
          <p *ngIf="build?.floorsNumber">
            الطوابق
            {{build?.floorsNumber}}
          </p>
          <p *ngIf="build?.bedsNumber">
            <img src="../../assets/images/bed.svg" alt="">
            {{build?.bedsNumber}}
          </p>
          <p *ngIf="build?.bathroomNumber">
            <img src="../../assets/images/bath_room.svg" alt="">
            {{build?.bathroomNumber}}
          </p>
        </div>
      </div>
    </div>
  </div>


  <!-- error View && Loading  -->
  <div *ngIf="loading" class="loading">
    <ion-spinner></ion-spinner>
  </div>

  <div *ngIf="emptyView" class="error-view">
    <div class="content">
      <ion-icon name="happy-outline"></ion-icon>
      <ion-text color="medium">
        <p>لا يوجد اعلانات حاليا</p>
      </ion-text>
    </div>
  </div>

  <div *ngIf="errorView" class="error-view">
    <div class="content">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <ion-text color="medium">
        <p>خطأ بالشبكة يرجي المحاولة لاحقاً</p>
      </ion-text>
    </div>
  </div>

  <!--
  <ion-fab *ngIf="!errorView" vertical="bottom" dir="rtl" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openFilterModal()" mode="ios">
      <ion-icon name="options"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
  <ion-infinite-scroll threshold="25%" [disabled]="disableInfinity" position="bottom" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
