:root {
  --ion-background: #F8F9FB;
}

ion-header,
ion-toolbar,
ion-content {
  --background: var(--ion-background);
}

.container {
  padding: 0px 16px 32px;
  margin: auto;
  max-width: 1024px;
}

.title_category {
  margin-block: 0 12px;
  font-size: 24px;
  line-height: 29px;
  color: var(--dark-text);
  font-family: "bold";
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub_title {
  font-size: 14px;
  line-height: 17px;
  color: var(--light-text);
}


.add_box_item {
  margin-bottom: 16px;
  border-radius: 12px;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  box-shadow: 0px 8px 16px #87899E26;
  height: fit-content;
  position: relative;

  .head_box {
    height: 160px;
    width: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    span {
      position: absolute;
      background: #F1A330;
      line-height: 14px;
      font-size: 12px;
      font-family: 'bold';
      color: #fff;
      border-radius: 5px;
      padding: 2px 4px;
      top: 7px;
      right: 12px;
    }

  }

  .body_content {
    padding: 12px;
    width: 100%;
    background: #fff;

    .body_head {
      display: flex;
      justify-content: space-between;

      p {
        margin: 0;
        font-size: 12px;
        color: #87899E;
      }
    }

    .center_content {
      display: flex;
      justify-content: space-between;
      margin-block: 12px;

      .body_title {
        font-size: 16px;
        color: var(--dark-text);
        font-family: 'bold';
        text-align: start;
        margin-block: 0;
      }

      .price {
        color: var(--ion-color-primary);
        font-family: 'bold';
        margin-block: 0;
      }

    }

  }

  .footer_content {
    display: flex;
    justify-content: flex-start;
    gap: 18px;
    align-items: center;
    border-top: 1px solid rgba(135, 137, 158, 25%);

    p {
      font-size: 12px;
      line-height: 14px;
      color: #87899E;
      margin-bottom: 0;
      display: flex;
      align-items: center;
      gap: 6px;
    }
  }
}

ion-modal {
  ion-content {
    --padding-top: 30px;
    --padding-start: 16px;
    --padding-end: 16px;
    --padding-bottom: 16px;

    color: var(--dark-text);

    .headerModalFilter {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .filter_body {
      p {
        color: var(--dark-text);
        font-family: 'bold';
        margin-top: 0;
      }

      .item_box {
        border: 1px solid #87899E;
        border-radius: 8px;
        margin-bottom: 24px;

        ion-select {
          --placeholder-color: var(--light-text);
          --placeholder-opacity: 100%;
        }
      }

      ion-button {
        font-family: 'bold';
        --border-radius: 25px;
        border-radius: 25px;
      }
    }
  }
}
