/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
// @import 'animate.css';
@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";

// animation
@for $i from 1 through 25 {
  .duration:nth-child(#{$i}) {
    animation-duration: (0.1s * $i);
  }
}

.fast {
  animation-duration: (0.6s);
}

@font-face {
  font-family: "bold";
  src: url("./assets/fonts/29LTBaseet-Bold.ttf");
}

@font-face {
  font-family: "regular";
  src: url("./assets/fonts/29LTBaseet-Regular.ttf");
}

* {
  font-family: "regular";
}

body {
  direction: rtl;
}

ion-header {
  box-shadow: none !important;
  --box-shadow: none !important;
  &::after {
    display: none;
  }
}

ion-content {
  --background: #f8f9fb;
}

.header-ios ion-toolbar:last-of-type {
  --border-width: 0 !important;
}

.error-view {
  // background: #fff;
  position: absolute;
  /* top: 0; */
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 100%;
  z-index: 99999;
  h5 {
    font-family: "bold";
    color: var(--dark-text);
    margin-block: 12px 0;
    font-size: 20px;
  }
  .content {
    text-align: center;
    // transform: translateY(-70px);
    ion-icon {
      font-size: 64px;
    }
  }
}

.loading {
  background: var(--ion-color-light);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 99999;
}

ng-otp-input > div {
  direction: unset;
  text-align: center;
}

.otp-input {
  border-radius: 50% !important;
  border: 1px solid var(--ion-color-primary);
  direction: ltr;
  color: var(--ion-color-primary);
  font-family: "bold";
  width: 48px !important;
  font-size: 25px !important;
  height: 48px !important;
  line-height: 48px !important;
  margin-bottom: 24px !important;
}

.qr-code {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  img {
    object-fit: cover;
    width: 255px;
    height: 255px;
    border: 4px solid #f3f3f5;
    border-radius: 20px;
  }
}

.stoped {
  position: absolute;
  width: 100% !important;
  /* display: block; */
  background: rgba(1, 1, 1, 0.3);
  height: 100% !important;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* color: #fff; */
  p {
    font-size: 28px;
    color: #fff;
    font-family: "bold";
    transform: rotate(345deg);
  }
}
